<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ngdc.rajshahi.reunion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/final_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/final_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reunion"
        tools:targetApi="31">
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".anotherHomeActivity.becomeAmember.Become_a_member_activity"
            android:exported="false" />
        <activity
            android:name=".anotherHomeActivity.socialMedia.SocialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".anotherHomeActivity.contact.ContactActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".anotherHomeActivity.donarList.DonarListActivity"
            android:exported="false" />
        <activity
            android:name=".anotherHomeActivity.memberList.MemberListActivity"
            android:exported="false" />
        <activity
            android:name=".anotherHomeActivity.aboutUs.AboutUsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ngdc.rajshahi.reunion.homeActivity.HomePage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ngdc.rajshahi.reunion.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>